* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 21px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

tooltip {
    background: #303038;
    border-radius: 25px;
    border: solid 2px #cdd6f4;
}

#workspaces button {
    color: #303038;
    background-color: #e764a2;
    margin-right: 5px;
    opacity: 0.4;
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;

}

#workspaces button.active {
    color: #2a2a31;
    padding-right: 20px;
    padding-left: 20px;
    opacity: 1;
}

#workspaces button.focused {
    color: #2a2a31;
    background: #e764a2;
    border-radius: 10px;
    opacity: 1;
}

#workspaces button.urgent {
    color: #a61d38;
    background: #d4488a;
    border-radius: 10px;
    opacity: 1;
}

#workspaces button:hover {
    background: #e764a2;
    color: #303038;
    opacity: 0.1;
}

#taskbar button {
    padding: 5px;
    color: #313244;

}

#taskbar button.active {
    color: #a6adc8;
}

#taskbar button.maximized {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 10px;
}

#taskbar button.minimized {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 10px;
}

#taskbar button:hover {
    background: #b37d90;
    color: #cdd6f4;
    border-radius: 30px;
}

#taskbar.empty {
    background-color: #b37d90;
}

#custom-power_profile,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#taskbar,
#backlight {
    background: #303038;
    opacity: 1;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    /*border: 2px solid #181825;*/
}

#temperature {
    border-radius: 25px 0px 0px 25px;
}

#taskbar {
    background: #cdd6f4;
    border-radius: 50px;
    /*border: solid 2px #b37d90;*/
    min-width: 25px;
}

#backlight {
    border-radius: 25px;
    margin-right: 10px;
    /*border: solid 2px #AAAED1;*/
}

#tray {
    border-radius: 25px;
    margin-right: 10px;
    /*border: solid 2px #BF8A8C;*/
}

#workspaces {
    background: #303038;
    color: #e764a2;
    border-radius: 25px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
    border: solid 2px #303038;
}

#custom-power_profile {
    color: #a6e3a1;
    border-left: 0px;
    border-right: 0px;
}


#window {
    border-radius: 25px;
    margin-left: 60px;
    margin-right: 60px;
}


#clock {
    /*color: #fab387;*/

    border-radius: 25px;
    margin-left: 10px;
    background: #e764a2;
    color: #303038;
    border: solid 7px #303038;
}

#network {
    /*color: #f9e2af;*/
    border-radius: 25px;
    /*border: solid 2px #f9e2af;*/
    margin-right: 10px;
    background: #e764a2;
    color: #303038;
    border: solid 7px #303038;
}

#bluetooth {
    /*color: #89b4fa;*/
    border-radius: 25px;
    margin-right: 10px;
}

#pulseaudio {
    /*color: #89b4fa;*/
    margin-right: 10px;
    border-radius: 25px;
    /*border: solid 2px #89b4fa;*/
}

#pulseaudio.microphone {
    /*color: #cba6f7;*/
    border-radius: 25px;
    margin-right: 10px;
    /* border: solid 2px #cba6f7;*/
}

#battery {
    /*color: #a6e3a1;*/
    border-radius: 25px;
    margin-left: 10px;
    /*border: solid 2px #a6e3a1;*/
}
