* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(12, 12, 12, 0.9);
}

button {
    border-radius: 50px;
	margin: 20px;
	text-decoration-color: #303038;
    color: white;
	background-color: #E764A2;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20%;
	font-size: 25px;
	border: solid 3px white;
}

button:focus, button:active, button:hover {
	background-color: #e39fbf;
	outline-style: none;
	background-size: 25%;
	
	border-radius: 70px;
}

#lock {
    background-image: image(url("/home/matysek/.config/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
	/* border-top-left-radius: 50px;
	border-top: solid 5px white;
	border-left: solid 5px white; */
}

#logout {
    background-image: image(url("/home/matysek/.config/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
	/* border-top: solid 5px white; */
}

#suspend {
    background-image: image(url("/home/matysek/.config/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
	/* border-top-right-radius: 50px;
	border-top: solid 5px white;
	border-right: solid 5px white; */
}

#hibernate {
    background-image: image(url("/home/matysek/.config/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
	/* border-bottom-left-radius: 50px;
	border-left: solid 5px white;
	border-bottom: solid 5px white; */
}

#shutdown {
    background-image: image(url("/home/matysek/.config/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
	/* border-bottom: solid 5px white; */
}

#reboot {
    background-image: image(url("/home/matysek/.config/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
	/* border-bottom-right-radius: 50px;
	border-bottom: solid 5px white;
	border-right: solid 5px white; */
}
